includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:

    paths:
        - app/
        - routes/

    # we use level 6 as the baseline
    level: 6
    reportUnmatchedIgnoredErrors: false
    
    ignoreErrors:
    - identifier: property.notFound
    - identifier: missingType.generics
    - identifier: argument.templateType
    - identifier: method.notFound
    - identifier: larastan.relationExistence
    - identifier: staticMethod.notFound
    - identifier: missingType.iterableValue